@import url('//at.alicdn.com/t/font_2428102_8f6edri32z5.css')
*
  margin: 0
  padding: 0
*, *::after, *::before
  box-sizing: border-box
body
  overflow: hidden
  background: #FFFDF1
img
  -webkit-user-drag: none
.grain
  position: absolute
  width: 100vw
  height: 100vh
  z-index: 1
  pointer-events: none
.App
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  overflow: hidden
.flag
  position: absolute
  width: 100vw
  z-index: 1
  display: flex
  justify-content: space-between
  pointer-events: none
.main
  display: grid
  grid-template-columns: repeat(34, 5em)
  grid-template-rows: repeat(24, 5em)
  grid-column-gap: 10px
  grid-row-gap: 10px
  will-change: transform
.block
  background-image: url('pattern (1).png')
  user-select: none
  border: 5px solid
  border-radius: 1em
  border-color: transparent
  will-change: transform
  transition: transform 0.6s, opacity 0.6s
  opacity: 1

  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  overflow: hidden
.title
  position: absolute
  top: 0.5em
  left: 0
  color: #fff
  font-size: 1.25em
  height: 1.5em
  line-height: 1.5em
  padding-left: 1.5rem
  padding-right: 1.22rem
  letter-spacing: 0.2em
  &::after
    display: block
    content: ""
    top: 0
    left: 100%
    width: 0
    height: 0
    border-right: 0.5em solid transparent
    position: absolute
.content
  position: absolute
  bottom: 0
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 1.5em
  width: 100%
  height: calc(100% - 2.5em)
.hide
  opacity: 0
  transform: scale(0)
.home
  display: flex
  justify-content: center
  position: absolute
  z-index: 1
  width: 4em
  height: 4em
  bottom: 1em
  right: 1em
  border-radius: 1em
  border: 4px solid #fff
  background: rgba(100, 237, 172, 0.3)
  box-shadow: 3px 3px rgba(100, 237, 172, 0.2)
  img
    width: 3em
// 装饰块
.painting
  border-radius: inherit
  border: none
  background: none
  overflow: inherit
  img
    width: 100%
.round
  div
    background-image: url('pattern (1).png')
    width: 100%
    height: 100%
    border-radius: 50%
  img
    width: 100%
    height: 100%
    padding: 1em
// 内容块
// 内容块 - LOGO
.logo
  background-color: rgba(171, 205, 3, 0.1)
  border-color: #ABCD03
  box-shadow: 5px 5px rgba(171, 205, 3, 0.1)
  img
    width: 100%
.copyright
  font-size: 0.8em
  color: #ABCD03
  position: absolute
  bottom: 1em
  opacity: 0.8
// 内容块 - 提示
.tip
  background-color: rgba(127, 96, 71, 0.1)
  border-color: #7F6047
  color: #7F6047
  font-weight: bold
  letter-spacing: 0.1em
  line-height: 1.5em
  box-shadow: 5px 5px rgba(127, 96, 71, 0.1)
  overflow: hidden
.icon-tuozhuai
  position: absolute
  right: -0.5rem
  bottom: 1rem
  transform: rotate(15deg)
  font-size: 5em
  opacity: 0.2
// 内容块 - 关于
.about
  background-color: rgba(233, 82, 142, 0.1)
  border-color: #E9528E
  box-shadow: 5px 5px rgba(233, 82, 142, 0.1)
  .title
    background: #E9528E
    &::after
      border-top: 0.75em solid #E9528E
      border-bottom: 0.75em solid #E9528E
  p
    line-height: 1.5em
    font-weight: bold
    color: #E9528E
    letter-spacing: 0.1em
    text-indent: 2em
    margin: 0.25em 0
    text-align: justify
// 内容块 - 链接
.link
  background-color: rgba(0, 166, 227, 0.1)
  border-color: #00A5E3
  box-shadow: 5px 5px rgba(0, 166, 227, 0.1)
  .title
    background: #00A5E3
    &::after
      border-top: 0.75em solid #00A5E3
      border-bottom: 0.75em solid #00A5E3
  ul
    display: flex
    justify-content: space-between
    width: 100%
    margin-bottom: 1em
  li
    list-style: none
    padding: 0.5em
    border-radius: 2em
    box-shadow: 4px 4px rgb(255 255 255 / 80%), 4px 4px rgb(255 255 255 / 80%) inset
    color: #00A5E3
    border: 3px dashed #00A5E3
    transition: all 0.3s
    .iconfont
      transition: color 0.3s
    &:nth-child(even)
      transform: translate(0, 1em)
    &:hover
      background: #fff
      box-shadow: 4px 4px rgb(0 0 0 / 10%)
      .icon-weibo
        color: #D52C2B
      .icon-bili
        color: #FB7299
      .icon-douban
        color: #2E963D
      .icon-neteasemusic
        color: #C20C0C
      .icon-steam
        color: #171A21
      .icon-zhihu
        color: #0066FF
      .icon-github
        color: #2D333B
      .icon-twitter
        color: #27A6D1
    i
      font-size: 1.5em
// 内容块 - 网易云音乐
.neteasemusic
  color: #C20C0C
  border-color: #C20C0C
  background-color: rgba(194, 12, 12, 0.1)
  box-shadow: 5px 5px rgba(194, 12, 12, 0.1)
  .title
    background: #C20C0C
    &::after
      border-top: 0.75em solid #C20C0C
      border-bottom: 0.75em solid #C20C0C
  .icon-neteasemusic
    position: absolute
    right: -1rem
    bottom: -1rem
    transform: rotate(15deg)
    font-size: 5em
    opacity: 0.2
.music
  display: flex
  justify-content: center
  align-items: center
  border-radius: 0.5em
  width: 100%
  img
    width: 5em
    border-radius: 5em
    margin-right: 0.5em
    border: 3px dashed
    padding: 0.2em
  .music-title, .music-tip
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    width: 12rem
  .music-title
    font-size: 1.2em
    text-shadow: 2px 2px rgba(255, 255, 255, 0.8)
  .music-tip
    font-size: 0.8em
    font-weight: bold
    opacity: 0.5
  // .music-time
  //   font-weight: bold
  //   letter-spacing: 0.1em
  //   margin-top: 0.5em
// 内容块 - 哔哩哔哩
.bilibili-anime, .bilibili-video
  color: #FB7299
  border-color: #FB7299
  background-color: rgba(251, 114, 153, 0.1)
  box-shadow: 5px 5px rgba(251, 114, 153, 0.1)
  .title
    background: #FB7299
    &::after
      border-top: 0.75em solid #FB7299
      border-bottom: 0.75em solid #FB7299
  .icon-bili
    position: absolute
    right: 0
    bottom: -1rem
    transform: rotate(-6deg)
    font-size: 5em
    opacity: 0.2
.bilibili-anime-content, .nintendo-switch-content
  display: flex
  flex-direction: row
  align-items: center
  img
    height: 10em
    border: 3px dashed
    padding: 0.2em
    margin-right: 1em
    border-radius: 1em
  h2
    font-size: 1.25em
    text-shadow: 4px 4px rgba(255, 255, 255, 0.8)
  .big-title
    font-size: 2em
  p
    font-weight: bold
    letter-spacing: 0.1em
    margin-top: 2em
.bilibili-video-content
  img
    width: 100%
    border: 3px dashed
    padding: 0.2em
    border-radius: 1em
  .bilibili-info, p
    margin-top: 0.5em
  h2, p
    letter-spacing: 0.1em
  h2
    font-size: 1em
    font-weight: normal
  p
    font-weight: bold
// 内容块 - OSU
.osu
  color: #F462A3
  border-color: #F462A3
  background-color: rgba(244, 98, 164, 0.1)
  box-shadow: 5px 5px rgba(244, 98, 164, 0.1)
  .title
    background: #F462A3
    &::after
      border-top: 0.75em solid #F462A3
      border-bottom: 0.75em solid #F462A3
.osu-map
  position: relative
  display: flex
  align-items: center
  border-radius: 0.5em
  border: 3px dashed
  padding: 0.2em
.osu-pic
  width: 100%
  border-radius: 0.3em
  filter: brightness(0.8)
.record-info
  position: absolute
  color: #fff
  font-size: 0.6em
  padding-left: 1em
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4)
.rank
  position: absolute
  right: 1em
// 内容块 - Github
.github
  color: #2D333B
  border-color: #2D333B
  background-color: rgba(45, 51, 59, 0.1)
  box-shadow: 5px 5px rgba(45, 51, 59, 0.1)
  .title
    background: #2D333B
    &::after
      border-top: 0.75em solid #2D333B
      border-bottom: 0.75em solid #2D333B
  .content
    align-items: baseline
    word-break: break-all
  h2
    font-size: 1.2em
  .github-info
    font-size: 0.8em
    margin-top: 0.5em
  .github-link
    text-decoration: underline
  .time
    font-weight: bold
    letter-spacing: 0.1em
    font-size: 1em
    margin-top: 1em
  .icon-github
    position: absolute
    right: -0.6rem
    bottom: -0.6rem
    transform: rotate(15deg)
    font-size: 5em
    opacity: 0.2
// 内容块 - Nintendo Switch
.nintendo-switch-game
  color: #E60012
  border-color: #E60012
  background-color: rgba(251, 114, 153, 0.1)
  box-shadow: 5px 5px rgba(251, 114, 153, 0.1)
  .title
    background: #E60012
    letter-spacing: 0.1em
    &::after
      border-top: 0.75em solid #E60012
      border-bottom: 0.75em solid #E60012
  // .icon-bili
  //   position: absolute
  //   right: 0
  //   bottom: -1rem
  //   transform: rotate(-6deg)
  //   font-size: 5em
  //   opacity: 0.2