@import url('//at.alicdn.com/t/font_2428102_xuvkeko147.css')
*
  margin: 0
  padding: 0
*, *::after, *::before
  box-sizing: border-box
body
  overflow: hidden
  background: #FFFDF1
  touch-action: none
img
  -webkit-user-drag: none
  pointer-events: none
.grain
  position: absolute
  width: 100vw
  height: 100vh
  z-index: 1
  pointer-events: none
.App
  display: flex
  justify-content: center
  align-items: center
  width: 110vw
  height: 110vh
  overflow: hidden
  transition: transform 0.3s
  transform: translate(-5vw, -5vh)
.flag
  position: absolute
  width: 100vw
  z-index: 1
  display: flex
  justify-content: space-between
  pointer-events: none
  margin-top: -0.5em
  img
    max-width: 40vw
.main
  display: grid
  grid-template-columns: repeat(60, 5em)
  grid-template-rows: repeat(36, 5em)
  grid-column-gap: 15px
  grid-row-gap: 15px
  will-change: transform
  transition-timing-function: ease-out
.block
  background: #eee
  background-image: url('/img/pattern.png')
  user-select: none
  // border: 5px solid
  // border-radius: 1em
  border-color: transparent
  will-change: transform
  transition: transform 0.6s, opacity 0.6s
  opacity: 1

  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  margin: 0.5em
  // overflow: hidden
  &:hover
    animation: block 0.3s
.block, .pixel-top
  &::after
    content: ''
    display: block
    position: absolute
    width: 4px
    height: 4px
    left: -4px
    top: -4px
  &::before
    content: ''
    display: block
    position: absolute
    width: 4px
    height: 4px
    right: -4px
    top: -4px
@keyframes block
  0%
    filter: brightness(1.1)
  100%
    filter: brightness(1)
.block-icon
  position: absolute
  width: 6em
  height: calc(100% + 4px)
  right: -4px
  bottom: -4px
  overflow: hidden
.title
  position: absolute
  top: 0.5em
  left: -4px
  color: #fff
  font-size: 1.25em
  height: 1.5em
  line-height: 1.5em
  padding-left: 1.5rem
  padding-right: 1.22rem
  letter-spacing: 0.2em
  span
    font-size: 1rem
    margin-left: 0.5rem
    opacity: 0.9
  &::after
    display: block
    content: ""
    top: 0
    left: 100%
    width: 0
    height: 0
    border-right: 0.5em solid transparent
    position: absolute
.content
  position: absolute
  bottom: 0
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 1.5em
  padding-top: 3.5em
  width: 100%
  height: 100%
.content, .pixel-bottom
  &::after
    content: ''
    display: block
    position: absolute
    width: 4px
    height: 4px
    left: -4px
    bottom: -4px
  &::before
    content: ''
    display: block
    position: absolute
    width: 4px
    height: 4px
    right: -4px
    bottom: -4px
.hide
  opacity: 0
  transform: scale(0)
.home
  display: flex
  justify-content: center
  position: absolute
  z-index: 1
  width: 4em
  height: 4em
  bottom: 1em
  right: 1em
  border-radius: 1em
  border: 4px solid #fff
  background: rgba(100, 237, 172, 0.3)
  box-shadow: 3px 3px rgba(100, 237, 172, 0.2)
  img
    width: 3em
// 内容块
@mixin colors($c1, $c2)
  box-shadow: 0 4px $c2, 4px 0 $c2, -4px 0 $c2, 0 -4px $c2, 0 4px rgb(255 255 255 / 80%), 4px 0 #fffdf1, -4px 0 #fffdf1, 0 -4px #fffdf1, 0 8px $c1, 8px 0 $c1, -8px 0 $c1, 0 -8px $c1, 0 12px $c2, 12px 0 $c2
  background-color: $c2
  color: $c1
  &::after, &::before
    background: $c1
  .pixel-bottom, .content
    &::after, &::before
      background: $c1
  .title
    background: $c1
    &::after
      border-top: 0.75em solid $c1
      border-bottom: 0.75em solid $c1
// 内容块 - LOGO
.logo
  @include colors(#ABCD03, rgba(171, 205, 3, 0.1))
  img
    width: 100%
  a
    color: inherit
  .content
    padding: 0
  .menu
    position: absolute
    margin-top: 10em
    font-size: 0.9em
    li
      display: inline-block
      font-weight: bold
      margin: 0 0.2em
      transition: color 0.3s, background 0.3s
      &:hover
        background: #abcd03
        color: #fff
      &::after, &::before
        font-weight: normal
        margin: 0 0.1em
      &::after
        content: "」"
      &::before
        content: "「"
.copyright
  font-size: 0.8em
  color: #ABCD03
  position: absolute
  bottom: 1em
  opacity: 0.8
// 内容块 - 提示
.tip
  @include colors(#7F6047, rgba(127, 96, 71, 0.1))
  font-weight: bold
  letter-spacing: 0.1em
  line-height: 1.5em
  .content
    padding: 0
.icon-tuozhuai
  position: absolute
  right: -0.5rem
  bottom: 1rem
  transform: rotate(15deg)
  font-size: 5em
  opacity: 0.2
// 内容块 - 关于
.about
  @include colors(#E9528E, rgba(233, 82, 142, 0.1))
  p
    line-height: 1.5em
    font-weight: bold
    letter-spacing: 0.1em
    text-indent: 2em
    margin: 0.25em 0
    text-align: justify
// 内容块 - 链接
.link
  @include colors(#00A5E3, rgba(0, 166, 227, 0.1))
  ul
    display: flex
    justify-content: space-between
    width: 100%
    margin-bottom: 1em
  li
    list-style: none
    padding: 0.5em
    border-radius: 2em
    box-shadow: 4px 4px rgb(255 255 255 / 80%), 4px 4px rgb(255 255 255 / 80%) inset
    color: #00A5E3
    border: 3px dashed #00A5E3
    transition: all 0.3s
    cursor: pointer
    .iconfont
      transition: color 0.3s
    &:nth-child(even)
      transform: translate(0, 1em)
    &:hover
      background: #fff
      box-shadow: 4px 4px rgb(0 0 0 / 10%)
      .icon-weibo
        color: #D52C2B
      .icon-bili
        color: #FB7299
      .icon-douban
        color: #2E963D
      .icon-neteasemusic
        color: #C20C0C
      .icon-steam
        color: #171A21
      .icon-zhihu
        color: #0066FF
      .icon-github
        color: #2D333B
      .icon-twitter
        color: #27A6D1
    i
      font-size: 1.5em
.move
  transform: scale(0.95) translate(-5vw, -5vh)
  transition-delay: 0.1s
// 随机装饰块
.random-art
  // @include colors(#999, rgba(0, 0, 0, 0.1))
  border-radius: 6px
  border: none
  // background: none
  overflow: inherit
  opacity: 0.8
  img
    width: 50%
    margin: 0 auto
    display: block
// 通用卡片
.card
  .content
    padding: 0
  img
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 6px
  .card-cover
    position: absolute
    width: 100%
    height: 100%
    top: 0
    border-radius: 6px
    background: linear-gradient(0deg, #394246, transparent)
.skew-title
  h2, p
    color: #fff
    font-weight: bold
    text-shadow: 2px 2px 0px rgb(0 0 0 / 30%)
    transform: skew(-6deg, -2deg)
  h2
    font-size: 2em
    letter-spacing: 1px
    text-align: center
    padding: 0 2em
  p
    font-size: 0.8em
    letter-spacing: 2px
// 配色方案
.osu
  @include colors(#F462A3, rgba(244, 98, 164, 0.1))
.default
  @include colors(#555, rgba(85, 85, 85, 0.1))
.bilibili
  @include colors(#FB7299, rgba(251, 114, 153, 0.1))
.switch
  @include colors(#E70013, #E7001310)
.music
  @include colors(#C20C0C, #C20C0C10)
.psn
  @include colors(#0172CE, #0172CE10)
.article-color
  @include colors(#00A5E3, #00A5E310)
.photo-color
  @include colors(#FABE00, #FABE0010)
  
.cover
  pointer-events: none
  position: absolute
  display: flex
  justify-content: flex-end
  // justify-content: center
  // align-items: center
  width: 100vw
  height: 100vh
  z-index: 1
  overflow-y: scroll
  &::-webkit-scrollbar
    width: 10px
    background-color: rgb(255 255 255 / 70%)
    background-color: rgb(255 255 255 / 0%)
  &::-webkit-scrollbar-thumb
    background: rgb(0 0 0 / 50%)
    -webkit-border-radius: 100px
    background-clip: padding-box
    border: 2px solid rgb(255 255 255 / 0%)
    min-height: 10px
.cover-halftone
  position: fixed
  width: 100vw
  height: 100vh
  // top: 1em
  // bottom: 0
  // left: 0
  // right: 0
  background: #fff
  overflow: hidden
  filter: contrast(1000%)
  display: flex
  justify-content: center
  align-items: center
  opacity: 0
  transition: opacity 0.3s
  &::after
    content: ''
    position: absolute
    width: 150%
    height: 150%
    background-blend-mode: multiply
    background: radial-gradient(8px 8px, black, white)
    background-size: 10px 10px
    mix-blend-mode: screen
    transform: rotate(11.25deg)
    z-index: 1
.cover-halftone-color
  display: block
  width: 800px
  height: 400px
  background: #fff
  filter: brightness(1) blur(50px)
  transition: background 0.6s
.box-cover
  position: absolute
  // top: 0
  // bottom: 0
  // left: 0
  // right: 0
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh
  width: 100vw
  padding: 1em 0
  overflow: auto
  transform: scale(0)
  opacity: 0
  transition: transform 0.3s, opacity 0.3s
.box
  @include colors(#555, rgb(255 255 255 / 95%))
  position: relative
  width: 45em
.box-content
  height: 100%
  padding: 1em
.box-title
  margin-bottom: 0.25em
  margin-left: 0.25rem

// 激活状态
.cover-active
  pointer-events: all
  &::-webkit-scrollbar
    background-color: rgb(255 255 255 / 70%)
  .box-cover
    transform: scale(1)
    opacity: 1
  .cover-halftone-color
    background: #00ffff
  .cover-halftone
    opacity: 0.7
  .hide-box
    // position: fixed
    transform: translate(0, 1em) !important
    opacity: 0 !important
    pointer-events: none
// 博文列表
.article-list
  display: flex
  flex-wrap: wrap
.article-item
  background: #fff
  border: 2px solid
  padding: 0.5em
  box-shadow: 3px 3px rgb(0 0 0 / 9%)
  border-radius: 0.2em
  width: calc( 50% - 0.5em )
  margin: 0.25em
  transition: border-color 0.3s, box-shadow 0.3s
  &:hover
    border-color: #e9528e
    box-shadow: 3px 3px rgb(233 82 142 / 10%)
.article-time
  font-size: 0.9em
  color: #888
.article-title
  font-size: 1.1em
  margin-bottom: 0.2em
.article-tag
  background: #E9528E
  color: #fff
  font-size: 0.8em
  width: fit-content
  padding: 0.2em 0.5em
  border-radius: 0.2em
.load-more
  width: 100%
  text-align: center
  border-style: dashed
  margin-top: 1em
.load-finish
  opacity: 0.5
  pointer-events: none

.article-header
  padding-bottom: 0.5em
  margin-bottom: 0.5em
  border-bottom: 2px dashed #ddd
.article-header-title
  display: flex
  align-items: center

// 相册列表
.photo-item
  width: calc( 100% / 3 - 0.5em )
  position: relative
  padding-bottom: calc( 100% / 3 - 0.5em )
  height: 0
  img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    object-fit: cover
.photo-info
  position: absolute
  left: 0
  bottom: 0
  background: linear-gradient(0deg, #555, transparent)
  width: 100%
  padding: 0.5em
  color: #fff
  .article-time
    color: rgb(255 255 255 / 60%)
.photo
  img
    display: block
    width: 100%
    border-radius: 0.5em
    
// 手机端
@media screen and (max-width: 500px)
  .cover
    left: 10px
  .box
    width: 85vw
  .article-item
    width: 100%